In [5]:
import pandas as pd

In [6]:
price = pd.read_csv("price.csv")
price.head()

,Program,Year,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,Values
0,SURVEY,2019,YEAR,STATE,ALABAMA,1,CORN,"CORN, GRAIN - PRICE RECEIVED, MEASURED IN $ / BU",TOTAL,NOT SPECIFIED,4.1725
1,SURVEY,2019,YEAR,STATE,ALASKA,2,CORN,"CORN, GRAIN - PRICE RECEIVED, MEASURED IN $ / BU",TOTAL,NOT SPECIFIED,0.0000
2,SURVEY,2019,YEAR,STATE,ARIZONA,4,CORN,"CORN, GRAIN - PRICE RECEIVED, MEASURED IN $ / BU",TOTAL,NOT SPECIFIED,0.0000
3,SURVEY,2019,YEAR,STATE,ARKANSAS,5,CORN,"CORN, GRAIN - PRICE RECEIVED, MEASURED IN $ / BU",TOTAL,NOT SPECIFIED,3.8900
4,SURVEY,2019,YEAR,STATE,CALIFORNIA,6,CORN,"CORN, GRAIN - PRICE RECEIVED, MEASURED IN $ / BU",TOTAL,NOT SPECIFIED,0.0000

In [7]:
list(price.groupby(["Year"])["Values"].sum())

[70.393333333,
 111.70833333600002,
 121.89749999899999,
 111.41083333499999,
 75.59749999999998,
 68.37499999799999,
 64.915833331,
 76.35499999999999,
 105.064999999,
 100.30250000000002]

In [8]:
production = pd.read_csv("production.csv")
production.head()

,Program,Year,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,Value
0,SURVEY,2019,YEAR,STATE,ALABAMA,1.0,CORN,"CORN, GRAIN - PRODUCTION, MEASURED IN BU",TOTAL,NOT SPECIFIED,49105000
1,SURVEY,2019,YEAR,STATE,ARKANSAS,5.0,CORN,"CORN, GRAIN - PRODUCTION, MEASURED IN BU",TOTAL,NOT SPECIFIED,132750000
2,SURVEY,2019,YEAR,STATE,CALIFORNIA,6.0,CORN,"CORN, GRAIN - PRODUCTION, MEASURED IN BU",TOTAL,NOT SPECIFIED,11270000
3,SURVEY,2019,YEAR,STATE,COLORADO,8.0,CORN,"CORN, GRAIN - PRODUCTION, MEASURED IN BU",TOTAL,NOT SPECIFIED,180560000
4,SURVEY,2019,YEAR,STATE,DELAWARE,10.0,CORN,"CORN, GRAIN - PRODUCTION, MEASURED IN BU",TOTAL,NOT SPECIFIED,28800000

In [9]:
production.groupby(["Year"])["Value"].sum()

Year
2010    12425330000
2011    12313956000
2012    10755111000
2013    13830704000
2014    14217292000
2015    13601964000
2016    15148038000
2017    14609407000
2018    14420101000
2019    13799151000
Name: Value, dtype: int64

In [10]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [11]:
production["Year"].unique()

array([2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010])

In [12]:
corn_yield = pd.read_csv("yield.csv")
corn_yield.head()

,Program,Year,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,Value
0,SURVEY,2019,YEAR,STATE,ALABAMA,1.000,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,161.000
1,SURVEY,2019,YEAR,STATE,ARKANSAS,5.000,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,177.000
2,SURVEY,2019,YEAR,STATE,CALIFORNIA,6.000,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,161.000
3,SURVEY,2019,YEAR,STATE,COLORADO,8.000,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,148.000
4,SURVEY,2019,YEAR,STATE,DELAWARE,10.000,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,160.000

In [18]:
list(corn_yield.groupby(["Year"])["Value"].sum())

[5823.0,
 5652.0,
 5530.0,
 6430.0,
 6737.0,
 6577.0,
 6588.0,
 6829.0,
 6714.0,
 5318.4]