In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("csv_files/Corn_forFuelAlcohol_Usage_National_MillType_2014-2019.csv")
df.head()

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,SURVEY,2019,JAN,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, FOR FUEL ALCOHOL - USAGE, MEASURED IN BU",TOTAL,NOT SPECIFIED,"444,016,000",NaN
1,SURVEY,2019,JAN,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, FOR FUEL ALCOHOL - USAGE, MEASURED IN BU",TYPE OF OPERATION,TYPE OF OPERATION: (DRY MILL PLANT),"405,454,000",NaN
2,SURVEY,2019,JAN,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, FOR FUEL ALCOHOL - USAGE, MEASURED IN BU",TYPE OF OPERATION,TYPE OF OPERATION: (WET MILL PLANT),"38,562,000",NaN
3,SURVEY,2019,FEB,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, FOR FUEL ALCOHOL - USAGE, MEASURED IN BU",TOTAL,NOT SPECIFIED,"402,894,000",NaN
4,SURVEY,2019,FEB,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, FOR FUEL ALCOHOL - USAGE, MEASURED IN BU",TYPE OF OPERATION,TYPE OF OPERATION: (DRY MILL PLANT),"367,273,000",NaN

In [3]:
df = df[["Period","Domain Category","Value"]]
df.head()

  Period                      Domain Category        Value
0    JAN                        NOT SPECIFIED  444,016,000
1    JAN  TYPE OF OPERATION: (DRY MILL PLANT)  405,454,000
2    JAN  TYPE OF OPERATION: (WET MILL PLANT)   38,562,000
3    FEB                        NOT SPECIFIED  402,894,000
4    FEB  TYPE OF OPERATION: (DRY MILL PLANT)  367,273,000

In [23]:
type(df["Value"][0])

str

In [ ]:
df1['Avg_Annual'] = df1['Avg_Annual'].str.replace(',', '')

In [25]:
df["Converted_Value"] = df["Value"].apply(lambda x: int(x.replace(',',''))
df.head()

ValueError: invalid literal for int() with base 10: '444,016,000'