In [1]:
import pandas as pd

In [2]:
price = pd.read_csv("price.csv")
price.head()

,Program,Year,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,Values
0,SURVEY,2019,YEAR,STATE,ALABAMA,1,CORN,"CORN, GRAIN - PRICE RECEIVED, MEASURED IN $ / BU",TOTAL,NOT SPECIFIED,4.1725
1,SURVEY,2019,YEAR,STATE,ALASKA,2,CORN,"CORN, GRAIN - PRICE RECEIVED, MEASURED IN $ / BU",TOTAL,NOT SPECIFIED,0.0000
2,SURVEY,2019,YEAR,STATE,ARIZONA,4,CORN,"CORN, GRAIN - PRICE RECEIVED, MEASURED IN $ / BU",TOTAL,NOT SPECIFIED,0.0000
3,SURVEY,2019,YEAR,STATE,ARKANSAS,5,CORN,"CORN, GRAIN - PRICE RECEIVED, MEASURED IN $ / BU",TOTAL,NOT SPECIFIED,3.8900
4,SURVEY,2019,YEAR,STATE,CALIFORNIA,6,CORN,"CORN, GRAIN - PRICE RECEIVED, MEASURED IN $ / BU",TOTAL,NOT SPECIFIED,0.0000

In [7]:
pd.DataFrame(price.groupby(["Year","State"])["Values"].sum()).pivot()

                       Values
Year State
2010 COLORADO        3.793333
     ILLINOIS        3.851667
     INDIANA         3.983333
     IOWA            3.858333
     KANSAS          3.828333
     KENTUCKY        4.073333
     MICHIGAN        3.857500
     MINNESOTA       3.635000
     MISSOURI        3.939167
     NEBRASKA        3.832500
     NORTH CAROLINA  4.514167
     NORTH DAKOTA    3.446667
     OHIO            3.919167
     PENNSYLVANIA    4.420000
     SOUTH DAKOTA    3.485000
     TENNESSEE       4.120833
     TEXAS           4.096667
     WISCONSIN       3.738333
2011 COLORADO        6.041667
     ILLINOIS        6.141667
     INDIANA         6.240833
     IOWA            5.964167
     KANSAS          6.331667
     KENTUCKY        6.236667
     MICHIGAN        6.220000
     MINNESOTA       5.635000
     MISSOURI        6.217500
     NEBRASKA        5.916667
     NORTH CAROLINA  7.033333
     NORTH DAKOTA    5.646667
...                       ...
2019 MASSACHUSETTS   0.000000
     MICHIGAN        3.920000
     MINNESOTA       3.555000
     MISSISSIPPI     0.986250
     MISSOURI        3.850000
     MONTANA         0.000000
     NEBRASKA        3.701250
     NEVADA          0.000000
     NEW HAMPSHIRE   0.000000
     NEW JERSEY      0.000000
     NEW MEXICO      0.000000
     NEW YORK        4.263750
     NORTH CAROLINA  4.547500
     NORTH DAKOTA    3.400000
     OHIO            3.970000
     OKLAHOMA        4.012500
     OREGON          0.000000
     PENNSYLVANIA    4.341250
     RHODE ISLAND    0.000000
     SOUTH CAROLINA  0.000000
     SOUTH DAKOTA    3.538750
     TENNESSEE       3.961250
     TEXAS           4.320000
     UTAH            0.000000
     VERMONT         0.000000
     VIRGINIA        3.887500
     WASHINGTON      0.543750
     WEST VIRGINIA   0.000000
     WISCONSIN       3.643750
     WYOMING         0.000000

[308 rows x 1 columns]

In [8]:
production = pd.read_csv("production.csv")
production.head()

,Program,Year,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,Value
0,SURVEY,2019,YEAR,STATE,ALABAMA,1.0,CORN,"CORN, GRAIN - PRODUCTION, MEASURED IN BU",TOTAL,NOT SPECIFIED,49105000
1,SURVEY,2019,YEAR,STATE,ARKANSAS,5.0,CORN,"CORN, GRAIN - PRODUCTION, MEASURED IN BU",TOTAL,NOT SPECIFIED,132750000
2,SURVEY,2019,YEAR,STATE,CALIFORNIA,6.0,CORN,"CORN, GRAIN - PRODUCTION, MEASURED IN BU",TOTAL,NOT SPECIFIED,11270000
3,SURVEY,2019,YEAR,STATE,COLORADO,8.0,CORN,"CORN, GRAIN - PRODUCTION, MEASURED IN BU",TOTAL,NOT SPECIFIED,180560000
4,SURVEY,2019,YEAR,STATE,DELAWARE,10.0,CORN,"CORN, GRAIN - PRODUCTION, MEASURED IN BU",TOTAL,NOT SPECIFIED,28800000

In [9]:
production.groupby(["Year"])["Value"].sum()

Year
2010    12425330000
2011    12313956000
2012    10755111000
2013    13830704000
2014    14217292000
2015    13601964000
2016    15148038000
2017    14609407000
2018    14420101000
2019    13799151000
Name: Value, dtype: int64

In [10]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [11]:
production["Year"].unique()

array([2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010])

In [12]:
corn_yield = pd.read_csv("yield.csv")
corn_yield.head()

,Program,Year,Period,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,Value
0,SURVEY,2019,YEAR,STATE,ALABAMA,1.000,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,161.000
1,SURVEY,2019,YEAR,STATE,ARKANSAS,5.000,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,177.000
2,SURVEY,2019,YEAR,STATE,CALIFORNIA,6.000,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,161.000
3,SURVEY,2019,YEAR,STATE,COLORADO,8.000,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,148.000
4,SURVEY,2019,YEAR,STATE,DELAWARE,10.000,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,160.000

In [18]:
list(corn_yield.groupby(["Year"])["Value"].sum())

[5823.0,
 5652.0,
 5530.0,
 6430.0,
 6737.0,
 6577.0,
 6588.0,
 6829.0,
 6714.0,
 5318.4]